body {
    /*font-family: Outfit;*/
    /*background-color: aqua;*/
    margin: 0;
    padding: 0;
}

.app-container {
    padding: 0;
}

.app-header {
    margin: 0;
    background-color: blue;
    padding: 10px;
    text-align: center;
    color: white;
}

.navigation {
    background-color: blue;
    margin-top: 10px;
    color: white;
    text-align: center;
}

.nav-link:hover {
    background-color: rgb(206, 221, 255);
}

a {
    text-decoration: none;
    color: black;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}

.page-container {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    gap: 10px;
}

.content {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content.left,
.content.right {
    width: 50%;
}

.title {
    text-align: center;
    margin-top: 0;
}

/*********************************************************************


                                HEADER


**********************************************************************/
#head {
  background: #f4f4f4 url(../images/bg_head.jpg) top center;
  background-size: cover;
  color: #7C7C7C;
  padding: 30px 0 35px 0;
}
#head img.img-circle {
  display: block;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border: 9px solid rgba(0, 0, 0, 0.05);
  margin: 0 auto;
}
#head .title {
  font-family: Alice, Georgia, serif;
  font-size: 49px;
  font-size: 3.0625rem;
}
#head .title a {
  text-decoration: none;
  color: #333333;
}
#head .tagline {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.2em;
  color: #7C7C7C;
  margin: 5px 0 0;
}
#head .tagline b {
  font-weight: normal;
}
#head .tagline a {
  color: #5E5E5E;
}
.home #head {
  padding: 90px 0;
}
.home #head .title {
  font-size: 49px;
  font-size: 3.0625rem;
}
.home #head .tagline {
  font-size: 16px;
  font-size: 1rem;
  margin: 15px 0 0;
}
/*
                                CONTENT


**********************************************************************/
img {
  max-width: 100%;
}